.move{
	width:8%;
	height:50px;
	margin:1%;
	float: left;
}

.colorSelector{
	width: 5vw;
	height: 5vw;
	margin: 1vw;	
	float: left;
}

.sticker{
	width:3.8vw;
	height:3.8vw;
	float:left;
	border:0.1vw solid;
	float:left;
}